:root {
  --BackgroundColor: #fdfdfd;
  --Bodycolor: #2f2f2f;
  --AmpColor: #000000;
  --BoldColor: #000000;
  --BaseUnit: 16px;
  --BodyTextSize: calc( 1 * var(--BaseUnit));
  --PetitTitleSize: calc( 1.2 * var(--BaseUnit));
  --SubTitleSize: calc( 1.5 * var(--BaseUnit));
  --BigTitleSize: calc( 1.75 * var(--BaseUnit));
  --WeightR: 400;
  --WeightB: 700;
  font-family: source-han-serif-sc, serif;
}



body {
  max-width: calc( 32 * var(--BodyTextSize));
  margin: auto;
  background-color: var(--BackgroundColor) ;
  padding-bottom: calc(2 * var(--BodyTextSize));
  padding-left: 11.5px;
  padding-right: 11.5px;
  line-height: 1.75;
}

h1 {
    color: var(--AmpColor);
    font-weight: var(--WeightB);
    font-size: var(--BigTitleSize);
    margin: calc( 0 - var(--BigTitleSize));
    text-align: center;
}

h2 {
    color: var(--AmpColor);
    font-size: var(--SubTitleSize);
    font-weight: var(--WeightB);
}

h3 {
    color: var(--AmpColor);
    font-weight: var(--WeightB);
    font-size: var(--PetitTitleSize);
}

h4 {
    color: var(--AmpColor);
    font-size: var(--BodyTextSize);
    font-weight: var(--WeightB);
}

p {
    color: var(--Bodycolor);
    font-weight: var(--WeightR);
    font-size: var(--BodyTextSize);
}

a, li {
    list-style-type: square;
    color: var(--Bodycolor);
    font-weight: var(--WeightR);
    font-size: var(--BodyTextSize);
    letter-spacing: 0;
    margin: calc( 0 - var(--BodyTextSize));
}

h6 {
    color: var(--Bodycolor);
    font-size: var(--BodyTextSize);
    font-weight: var(--WeightR);
    text-align: center;
    margin: calc( 0 - var(--BodyTextSize));
}

strong {
  color: var(--BoldColor);
  font-weight: var(--WeightB);
}


.Author {
    color: var(--BoldColor);
    text-align: center;
    font-weight: var(--WeightB);
}