h1, p, ol {
  color:#eeeeee;
  font-style: normal;
}

h1 {
    font-family: source-han-serif-sc, serif;
    text-align: center;
    font-weight: 900;
    font-size: 3em;
}

p,ol {
    font-family: source-han-serif-sc, serif;
    font-weight: 500;
    font-size: 1.5em;
}

strong {
  font-weight: 900;
}

.tab { text-indent: 2em; }

body {
  background: #333333;
  margin-bottom: 2rem;
  margin-right: 5rem;
  margin-left: 5rem;
}
